body{
    background-color: #88d8bf;
}


.content{
    margin: 50px auto;
    background-color: #f7fafc;
    height: 300px;
    border-radius: 10px;
    outline: none;
}

.note
{
    text-align: center;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #2667ad;
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
